*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 60px;
    width: 100px;
}
.logo{
    background-image: url("Images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}.border:hover{
    border: 2px solid white;
}
/* Box-02 */
.delivered{
color: #cccccc;
font-size: 0.85rem;
margin-left: 15px;
}
.hit{
    color: #cccccc;
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* Box-03 */
.nav-search{
    display: flex;
    height: 40px;
    width: 620px;
    border-radius: 4px;
    background-color: #0f1111;
}
.select{
background-color: #f3f3f3;
width: 50px;
text-align: center;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
border: none;
}
.input{
width: 500px;
font-size: 1rem;
border: none;

}
.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding: 15px;
    background-color: #febd68;
    font-size: 1.2rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
span{
font-size: 0.7rem;
font-weight: 700;
}
.apna{
font-size: 0.8rem;
font-weight: 700;
}
/* Box-06 */
.cart{
    display: flex;
}
.cart{
font-size: 2.25rem;
gap: 2px;

}
.cc{
    font-size: 0.85rem;
    font-weight: 700;
  margin-top: 15px;
}
/* Panel Section */

.panel{
height: 40px;
background-color: #222f3d;
display: flex;
color: white;
align-items: center;
justify-content: space-evenly;
}


.panell-all{
display: flex;
flex-direction: row-reverse;
gap: 5px;
}



.panel-option p{
    width: 70%;
display: inline;
margin-left: 16px;
font-size: 0.85rem;
font-weight: 700;
}
.panel-deals{
font-size: 0.95rem;
font-weight: 700;
}
.hero-section{
    background-image: url("Images/hero_image.jpg");
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 80%;
    margin-bottom: 25px;
    font-weight: 700;
}
.hero-message a{
    text-decoration: none;
    color: red;
}

/* Shop-sectiob Styling  */
.Shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
   height: 400px;
   width:23% ;
   background-color: white;
   margin-top: 15px;
}
.box-img{
    height: 300px;
    padding: 20px 0px 15px;
    margin-top: 1rem;
    background-size: cover;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;


}
.box-content p{
    color: #007185;
}
footer{
    margin-top: 15px;
}
.footer-panel1{
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    height: 25px;
}
.foot-panel2{
   background-color: #222f3d;
   color: white;
   height: 300px; 
   display: flex;
   justify-content: space-evenly;
   margin-top: 5px;

}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: aquamarine;
    text-decoration: none;
}